discord.py==2.3.2
APScheduler==3.10.4
python-dotenv==1.0.0
httpx==0.26.0
feedparser==6.0.11
google-api-python-client==2.114.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
PyGithub==2.1.1
aiodns
